.popup{
    position: fixed;
    top:60px;
    left:881px;
    width:18%;
    height:220px;
    background-color: white;
    display: flex;
    text-align: left;
    z-index: 1;
}

.popup-inner{
    position: relative;
    padding: 1px;
    width: 100%;
    max-width: 640px;
    /* background-color: white; */
}

.popup-inner .close-btn{
    position: absolute;
    top: 13px;
    right: 8px;
}
.close-btn{
    background-color:rgb(238, 93, 93);
    width:30px;
    height:30px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-repeat: repeat;
    cursor: pointer;
}
.close-btn:hover{
    color: white;
   
}